* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family: Arial, Helvetica, sans-serif;
  --header-footer-background-color: rgb(155, 154, 153);
  --about-contact-background-color: rgb(173, 204, 214);
  --color2: whitesmoke;
  --project-name-padding: 1%;
}


body {

  line-height: 1.5;
  background-color: var(--color2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;

}




/*Header style*/


header {
  padding: 20px;
  background-color: var(--header-footer-background-color);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
}

/*Navigation bar styling*/


header figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
}

header figure img {
  width: 120%;
  height: 120%;


}

nav {}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  justify-content: space-evenly;
}


li {
  display: inline-block;
  margin-left: 25px;

}

a {
  color: darkslategrey;
  text-decoration: none;
}

/*this is the styling for the central image*/

.hero-banner {
  background-image: url(../images/shutterstock_1742227652.jpg);
  background-size: contain;
  display: block;
  margin-bottom: 0px;
  height: 30vh;
  width: 100%;
}

.hero-banner h2 {
  padding: 20px;
}

/*this is the styling for the main*/
main {
  font-family: var(--font-family);
  margin: 0 1.5%;
  width: 63%;
  float: right;
  display: block;
}

h3 a {}

.project-list {
  margin: 0px 0px;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "Project-1 Project-1 Project-1"
    "Project-2 Project-3 Project-3"
    "Project-4 Project-4 Project-5";
}

.project1 {
  padding: var(--project-name-padding);
  background-image: url(../images/shutterstock_1007319937.jpg);
  background-size: cover;
  grid-area: Project-1;
}

.project2 {
  padding: var(--project-name-padding);
  background-image: url(../images/shutterstock_1635335647.jpg);
  background-size: cover;
  grid-area: Project-2;
}

.project3 {
  padding: var(--project-name-padding);
  background-image: url(../images/shutterstock_2020717451.jpg);
  background-size: cover;
  grid-area: Project-3;
}

.project4 {
  padding: var(--project-name-padding);
  background-image: url(../images/shutterstock_581335189.jpg);
  background-size: cover;
  grid-area: Project-4;
}

.project5 {
  padding: var(--project-name-padding);
  background-image: url(../images/shutterstock_490655017.jpg);
  background-size: cover;
  grid-area: Project-5;
}

aside {
  margin: 0 1.5%;
  width: 30%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-columns: 1fr;
  grid-template-rows: 75% 35%;
  gap: 30px 10px;
  grid-template-areas:
    "about"
    "contact";
}

aside p {

  padding: 20px;
  float: left;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--about-contact-background-color);
}

aside ul {
  background-color: var(--about-contact-background-color);
}

.about {
  grid-area: about;
}

.contact {
  grid-area: contact;
}


/*this styling is for the footer area*/

footer {
  background-color: var(--header-footer-background-color);
  clear: both;
  text-align: center;
}

h4 {
  color: var(--color2);
}

/*This is a CSS media for phones*/

@media only screen and (max-width:600px) {
  aside {
    float: none;
    width: 95%;
  }

  main {
    float: none;
    width: 95%;
    margin: 2%;
  }

  ul {
    display: flex;

    flex-direction: column;
  }


  h1 {
    font-size: small;
  }

  header figure {
    display: flex;
    flex-wrap: wrap;
  }
}